@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:wght@400;500;600&display=swap');
body{
  background:rgba(65, 78, 29, 0.15);
  margin: 0;
}

.filtros *{
  font-family: "Alumni Sans SC", sans-serif;
  text-align: center;
  font-size: 20px;
}

nav{
  height:70px;
  background-color: rgba(125, 141, 81, 0.7);
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 20px;
}

.logo{
  width:45px;
  height:45px;
}

nav input{
  width:40%;
  height:32px;
  border:none;
  border-radius:20px;
  padding-left:15px;
  background:#F2E6D3;
}

.iconos{
  display:flex;
  gap:20px;
}

.iconos img{
  width:28px;
}



.ofertas{
  height:50px;
  font-family: "Alkatra", system-ui;
  background:rgba(175, 144, 81, 0.28);
  display:flex;
  justify-content:center;
  align-items:center;
  width: 100%;
}
.ofertas h3{
  font-family: "Alkatra", system-ui;
  position: relative;
  left: 10px;
  color: #6E8A2C;
  font-size: 30px;
}
.ofertas .material-symbols-outlined{
  position: relative;
  right: 10px;
  top: 3px;
    font-size:40px;
    color:#84693D;
     transform: rotate(90deg);
}
.ofertas h2{
   font-family: "Alkatra", system-ui;
  color:rgba(132, 105, 61, 1);
  font-size:32px;
}



.filtros{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:40px 70px;
}

.categoria{
  background:none;
  border:none;
  color:black;
  font-weight:bold;
  border-bottom:2px solid #6E8A2C;
}

.derecha{
  display:flex;
  gap:20px;
}

select{
  width:180px;
  height:40px;
  border-radius:10px;
  border:none;
  background:#DCE3D3;
  font-weight:bold;
}

.categoria-productos{
    padding: 30px 70px;
}

.titulo-categoria{
    color: #C49634;
    font-size: 40px;
    margin-bottom: 10px;
}

.descripcion-categoria{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}

.categoria-productos{
    padding: 40px 60px;
}

.titulo-categoria{
    color: #C29A39;
    font-size: 38px;
    margin-bottom: 10px;
}

.descripcion-categoria{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}

.contenedor-cards{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}



.card{
    overflow:hidden;

    border-radius:
    0px 0px
    12px 12px
    /
    0px 0px
    18px 18px;
}

.card:hover{

    transform:
    translateY(-12px);

    box-shadow:
    10px 15px 20px rgba(0,0,0,.35);
}



.card img{

    width:100%;

    height:170px;

    object-fit:cover;

    display:block;
}



.card-body{

    padding:14px;
}

.card-body h3{

    font-size:32px;

    line-height:1;

    margin-bottom:12px;

    color:#1f1f1f;
}

.precio{

    color:#C29A39;

    font-size:26px;

    font-weight:bold;

    margin-bottom:20px;
}



.card button{

    width:100%;

    border:none;

    background:#758C24;

    color:white;

    padding:12px;

    border-radius:12px;

    font-weight:bold;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:15px;

    cursor:pointer;

    transition:.3s;
}

.card button:hover{

    background:#62741d;
}

.card button span{

    font-size:20px;
}

@media screen and (max-width:1200px){

    .filtros{
        padding:30px 40px;
    }

    .ofertas h2{
        font-size:26px;
    }

    .categoria-productos{
        padding:35px 40px;
    }

}

/* Tabler :b*/

@media screen and (max-width:900px){

    .filtros{
        flex-direction:column;
        gap:20px;
        padding:25px;
    }

    .derecha{
        flex-wrap:wrap;
        justify-content:center;
    }

    select{
        width:150px;
        height:36px;
        font-size:16px;
    }

    .categoria{
        font-size:18px;
    }

    .ofertas{
        height:45px;
    }

    .ofertas h2{
        font-size:22px;
        text-align:center;
    }

    .categoria-productos{
        padding:30px 25px;
    }

    .titulo-categoria{
        font-size:32px;
    }

    .descripcion-categoria{
        font-size:18px;
    }

}

/* phono */

@media screen and (max-width:480px){

    .ofertas{
        height:40px;
    }

    .ofertas h2{
        font-size:16px;
        padding:0 10px;
        text-align:center;
    }

    .filtros{
        flex-direction:column;
        gap:12px;
        padding:18px 10px;
    }

    .derecha{
        width:100%;
        display:flex;
        justify-content:center;
        gap:8px;
        flex-wrap:wrap;
    }

    .categoria{
        font-size:14px;
    }

    select{
        width:110px;
        height:30px;
        font-size:11px;
    }

    .categoria-productos{
        padding:20px 10px;
    }

    .titulo-categoria{
        font-size:24px;
    }

    .descripcion-categoria{
        font-size:14px;
        margin-bottom:20px;
    }

    .contenedor-cards{
        justify-content:center;
        gap:15px;
    }

}