.navbar{
    width:100%;
    height:55px;
    background:#9DA76C;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 20px;
    position:relative;
    z-index:100;
}
.navbar-logo img{
    width:42px;
    height:42px;
    border-radius:50%;
    object-fit:cover;
}
.navbar-search{
    width:420px;
    height:25px;
    background:#F7F4E8;
    border-radius:20px;
    display:flex;
    align-items:center;
    padding:0 15px;
}
.navbar-search input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    font-size:12px;
}
.navbar-icons{
    display:flex;
    gap:20px;
    font-size:24px;
    color:#795730;
   position: relative;
   right: 60px;
}
.navbar-icons svg{
    cursor:pointer;
    transition:.3s;
}
.navbar-icons svg:hover{
    color:#4f381c;
}
@media (max-width:992px){

    .navbar{
        padding:12px 20px;
    }

    .navbar-search{
        width:55%;
    }

    .navbar-icons{
        gap:15px;
        font-size:24px;
    }

}

/* ========================= */
/* CELULAR */
/* ========================= */

@media screen and (max-width: 376px){

    .navbar{
        padding: 10px 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }

    .navbar-logo img{
        width: 45px;
        height: 45px;
    }

    .navbar-search{
        width: 100%;
        padding: 8px 15px;
    }

    .navbar-search input{
        font-size: 13px;
    }

    .navbar-icons{
        width: 100%;
        justify-content: center;
        gap: 18px;
        font-size: 22px;
    }
}