body{
  background:rgba(252, 248, 241, 1);
}



nav{
  height:70px;
  background-color: rgba(125, 141, 81, 0.7);
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 20px;
}

.logo{
  width:45px;
  height:45px;
}

nav input{
  width:40%;
  height:32px;
  border:none;
  border-radius:20px;
  padding-left:15px;
  background:#F2E6D3;
}

.iconos{
  display:flex;
  gap:20px;
}

.iconos img{
  width:28px;
}



.ofertas{
  height:50px;
  background:rgba(175, 144, 81, 0.28);
  display:flex;
  justify-content:center;
  align-items:center;
}

.ofertas h2{
  color:rgba(132, 105, 61, 1);
  font-size:32px;
}



.filtros{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:40px 70px;
}

.categoria{
  background:none;
  border:none;
  color:black;
  font-weight:bold;
  border-bottom:2px solid #6E8A2C;
}

.derecha{
  display:flex;
  gap:20px;
}

select{
  width:180px;
  height:40px;
  border-radius:10px;
  border:none;
  background:#DCE3D3;
  font-weight:bold;
}