.related{
   position: relative;
}

.related::before{
    content: "";
    position: absolute;
    top: -30px; 
    left: 0;
    width: 100%;
    height: 1px;
    background: #d5cfb8;
}
.related h2{
    position: relative;
    display: inline-block;
    font-size: 25px;
    font-family:"Libre Baskerville", serif;
    font-style:italic;
    color:rgba(108, 124, 53, 0.78);
    margin-bottom:50px;
}

.subtitulos{
    position: relative;
    left: 30px; 
    top: -10px; 
}


.related h2::after{
    content: "";
    position: absolute;
    left: 20px;
    bottom: -10px;
    width: 220px;
    height: 2px;
    background:rgba(108, 124, 53, 0.78);
}
.related h3{
    margin-top: -30px;
    text-align: left;
    font-size: 18px;
}
/*parte del 2*/
.related2 h2{
    position: relative;
    display: inline-block;
    font-size: 25px;
    font-family:"Libre Baskerville", serif;
    font-style:italic;
    color:rgba(184, 143, 37, 1);
    margin-bottom:50px;
}

.related2 h2::after{
    content: "";
    position: absolute;
    left: 10px;
    bottom: -10px;
    width: 160px;
    height: 2px;
    background:rgba(184, 143, 37, 1);
}
.related2 h3{
    margin-top: -30px;
    font-size: 18px;
}
.subtitulos2{
    position: relative;
    left: 30px; 
    top: -10px; 
}
/*3*/
.related3 h2{
    position: relative;
    display: inline-block;
    font-size: 25px;
    font-family:"Libre Baskerville", serif;
    font-style:italic;
    color:rgba(120, 76, 32, 1);
    margin-bottom:50px;
}
.subtitulos3{
    position: relative;
    left: 30px; 
    top: -10px; 
}
.related3 h2::after{
    content: "";
    position: absolute;
    left: 13px;
    bottom: -10px;
    width: 200px;
    height: 2px;
    background:rgba(120, 76, 32, 1);
}
.related3 h3{
    margin-top: -30px;
    font-size: 18px;
}
/*4*/
.related4 h2{
    position: relative;
    display: inline-block;
    font-size: 25px;
    font-family:"Libre Baskerville", serif;
    font-style:italic;
    color:rgba(108, 124, 53, 0.78);
    margin-bottom:50px;
}

.related4 h2::after{
    content: "";
    position: absolute;
    left: 25px;
    bottom: -10px;
    width: 145px;
    height: 2px;
    background:rgba(108, 124, 53, 0.78);
}
.related4 h3{
    margin-top: -30px;
    font-size: 18px;
}
.subtitulos4{
    position: relative;
    left: 30px; 
    top: -10px; 
}
/*5*/
.related5 h2{
    position: relative;
    display: inline-block;
    font-size: 25px;
    font-family:"Libre Baskerville", serif;
    font-style:italic;
    color:rgba(184, 143, 37, 1);
    margin-bottom:50px;
}

.related5 h2::after{
    content: "";
    position: absolute;
    left: 25px;
    bottom: -10px;
    width: 160px;
    height: 2px;
    background:rgba(184, 143, 37, 1);
}
.related5 h3{
    margin-top: -30px;
    font-size: 18px;
}
.subtitulos5{
    position: relative;
    left: 30px; 
    top: -10px; 
}
/*6*/
.related6 h2{
    position: relative;
    display: inline-block;
    font-size: 25px;
    font-family:"Libre Baskerville", serif;
    font-style:italic;
    color:rgba(120, 76, 32, 1);
    margin-bottom:50px;
}
.subtitulos6{
    position: relative;
    left: 30px; 
    top: -10px; 
}
.related6 h2::after{
    content: "";
    position: absolute;
    left: 25px;
    bottom: -10px;
    width: 200px;
    height: 2px;
    background:rgba(120, 76, 32, 1);
}
.related6 h3{
    margin-top: -30px;
    font-size: 18px;
}

/*7*/
.related7 h2{
    position: relative;
    display: inline-block;
    font-size: 25px;
    font-family:"Libre Baskerville", serif;
    font-style:italic;
    color:rgba(108, 124, 53, 0.78);
    margin-bottom:50px;
}

.related7 h2::after{
    content: "";
    position: absolute;
    left: 25px;
    bottom: -10px;
    width: 160px;
    height: 2px;
    background:rgba(108, 124, 53, 0.78);
}
.related7 h3{
    margin-top: -30px;
    font-size: 18px;
}
.subtitulos7{
    position: relative;
    left: 30px; 
    top: -10px; 
}

/*8*/
.related8 h2{
    position: relative;
    display: inline-block;
    font-size: 25px;
    font-family:"Libre Baskerville", serif;
    font-style:italic;
    color:rgba(184, 143, 37, 1);
    margin-bottom:50px;
}

.related8 h2::after{
    content: "";
    position: absolute;
    left: 23px;
    bottom: -10px;
    width: 215px;
    height: 2px;
    background:rgba(184, 143, 37, 1);
}
.related8 h3{
    margin-top: -30px;
    font-size: 18px;
}
.subtitulos8{
    position: relative;
    left: 30px; 
    top: -10px; 
}
/*9*/
.related9 h2{
    position: relative;
    display: inline-block;
    font-size: 25px;
    font-family:"Libre Baskerville", serif;
    font-style:italic;
    color:rgba(184, 143, 37, 1);
    margin-bottom:50px;
}

.related9 h2::after{
    content: "";
    position: absolute;
    left: 30px;
    bottom: -10px;
    width: 220px;
    height: 2px;
    background:rgba(184, 143, 37, 1);
}
.related9 h3{
    margin-top: -30px;
    font-size: 18px;
}
.subtitulos9{
    position: relative;
    left: 30px; 
    top: -10px; 
}
/*10*/
.related10 h2{
    position: relative;
    display: inline-block;
    font-size: 25px;
    font-family:"Libre Baskerville", serif;
    font-style:italic;
    color:rgba(108, 124, 53, 0.78);
    margin-bottom:50px;
}

.related10 h2::after{
    content: "";
    position: absolute;
    left: 35px;
    bottom: -10px;
    width: 190px;
    height: 2px;
    background:rgba(108, 124, 53, 0.78);
}
.related10 h3{
    margin-top: -30px;
    font-size: 18px;
}
.subtitulos10{
    position: relative;
    left: 30px; 
    top: -10px; 
}


.related-grid{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
    flex-wrap:wrap;
}
.related-container{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:30px;
}
.arrow{
    border:none;
    background:transparent;
    font-size:35px;
    color:#555;
    cursor:pointer;
    transition:0.3s;
}
.arrow:hover{
    color:#8f9f5c;
}
/* ================= NOTEBOOK ================= */

@media (max-width:1200px){

    .related-grid{
        display:grid;
        grid-template-columns:repeat(3,1fr);
        gap:30px;
        justify-items:center;
    }

}

/* ================= TABLET ================= */

@media (max-width:900px){

    .subtitulos,
    .subtitulos2,
    .subtitulos3{
        left:15px;
    }

    .related h2,
    .related2 h2,
    .related3 h2{
        font-size:22px;
    }

    .related h3,
    .related2 h3,
    .related3 h3{
        font-size:16px;
        margin-top:-22px;
    }

    .related-grid{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        gap:25px;
        justify-items:center;
    }

}

/* ================= CELULAR ================= */

@media (max-width:480px){

    .subtitulos,
    .subtitulos2,
    .subtitulos3{
        left:10px;
        top:0;
    }

    .related h2,
    .related2 h2,
    .related3 h2{
        font-size:18px;
        margin-bottom:30px;
    }

    .related h3,
    .related2 h3,
    .related3 h3{
        font-size:13px;
        margin-top:-18px;
    }

    .related h2::after{
        width:160px;
    }

    .related2 h2::after{
        width:120px;
    }

    .related3 h2::after{
        width:150px;
    }

    .related-grid{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        gap:15px;
        justify-items:center;
    }

    .related-container{
        gap:10px;
    }

}

/* ================= MUY CHICO ================= */

@media (max-width:320px){

    .related-grid{
        grid-template-columns:1fr;
    }

}